:root {
  /* i think u define variables */
  --line-width-imagegen: 20%;
  --line-width-portraitgen: 20%;
}

.bg-circle {
  border-radius: 50%;
  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle1 {
  width: calc(var(--circle-base-size) + 0px);
  height: calc(var(--circle-base-size) + 0px);
  background-color: #99441f;
  z-index: -1;
}

.circle2 {
  width: calc(var(--circle-base-size) + 25px);
  height: calc(var(--circle-base-size) + 25px);
  background-color: #733317;
  z-index: -2;
}

.circle3 {
  width: calc(var(--circle-base-size) + 50px);
  height: calc(var(--circle-base-size) + 50px);
  background-color: #562611;
  z-index: -3;
}

.circle4 {
  width: calc(var(--circle-base-size) + 75px);
  height: calc(var(--circle-base-size) + 75px);
  background-color: #31180d;
  z-index: -4;
}

.tiny-lines {
  border-radius: 5px;
  /* Position */
  position: absolute;
  height: 10px;
  z-index: -1;
  transition: all 5s;
  /* name duration method */
}

.tiny-lines.imagegen {
  animation: lineAnimationImageGen 5s normal;
  width: var(--line-width-imagegen);
}

.tiny-lines.portraitgen {
  animation: lineAnimationPortraitGen 5s normal;
  width: var(--line-width-portraitgen);
}

@keyframes lineAnimationImageGen {
  from {
    width: 1%;
  }
  to {
    width: var(--line-width-imagegen);
  }
}

@keyframes lineAnimationPortraitGen {
  from {
    width: var(--line-width-imagegen);
  }
  to {
    width: var(--line-width-portraitgen);
  }
}

.line1.imagegen {
  background-color: #371e13;
  --line-width-imagegen: 55%;
  top: 20%;
  left: 0;
}
.line2.imagegen {
  background-color: #562611;
  --line-width-imagegen: 40%;
  top: 35%;
  left: 0;
}
.line3.imagegen {
  background-color: #562611;
  --line-width-imagegen: 40%;
  bottom: 35%;
  right: 0;
}
.line4.imagegen {
  background-color: #31180d;
  --line-width-imagegen: 50%;
  bottom: 22.5%;
  right: 0;
}
.line1.portraitgen {
  --line-width-imagegen: 55%;
  background-color: #371e13;
  --line-width-portraitgen: 45%;
  top: 20%;
  left: 0;
}
.line2.portraitgen {
  --line-width-imagegen: 40%;
  background-color: #562611;
  --line-width-portraitgen: 50%;
  top: 35%;
  left: 0;
}
.line3.portraitgen {
  --line-width-imagegen: 40%;
  background-color: #562611;
  --line-width-portraitgen: 50%;
  bottom: 35%;
  right: 0;
}
.line4.portraitgen {
  --line-width-imagegen: 50%;
  background-color: #31180d;
  --line-width-portraitgen: 40%;
  bottom: 22.5%;
  right: 0;
}

@media (max-width: 767.98px) {
  :root {
    /* Makes all the circles smaller */
    --circle-base-size: 200px;
  }
  /* TODO :: Make this more efficient using variables */
  .bg-circle {
    top: 50% !important;
  }
  .line1 {
    top: 10% !important;
  }
  .line2 {
    top: 20% !important;
  }
}
