/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .logout-wrapper p {
    display: none;
  }
}

.intro-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-intro,
.logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-intro > *,
.logout-wrapper > * {
  margin: 0 0.5rem;
}

.profile-header {
  text-decoration: underline;
}

.info-row {
  margin: 1rem 0;
}

.profile-pic-btn {
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  transition: transform 500ms;
}

.profile-pic-btn:hover {
  transform: scale(1.075);
  transition: transform 200ms;
}
