:root{
  /* i think u define variables */
  --circle-base-size: 850px;
}

*{
  /* outline: 1px solid red; */ /* border outline for debugging */
  overflow: hidden;  /* disables overflow scroll */
}
/*TODO: fade in and out from one gradient to another*/
/* TODO :: make circles and lines responsive */

/*fade animation for pulsate during image*/
@keyframes fade {
  0% {
    opacity: .25;
  }

  35% {
    opacity: 1;
  }

  70% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }

  
}

/*fade in for regular animation*/
@keyframes fadeIn {
  from{ opacity: 0; }

  to{ opacity: 1; }
}

/* bottom right circle */
.bg-circle {
  border-radius: 50%;
  /* Position */
  position: absolute;
  top: calc(85% + 50px);
  left: 85%;
  transform: translate(-50%, -50%);
  animation: fadeIn 10s;

}

/*2nd gradient pseudo-element*/
.bg-fill-circle {
  border-radius: 50%;
  /* Position */
  position: absolute;
  top: calc(85% + 50px);
  left: 85%;
  transform: translate(-50%, -50%);
  animation: fadeIn 10s ease 10s;
  z-index: -1;
}

/* top left circle */
.bg-circle1 {
  border-radius: 50%;
  /* Position */
  position: absolute;
  top: calc(5% + 50px);
  left: 10%;
  transform: translate(-50%, -50%);
  animation: fadeIn 10s;
}

/* bottom right circle gradient */
/*less gradient*/
.radial-gradient {
  background-image: radial-gradient(
    farthest-corner at 10% 25%,
    #8cbab4 20%,
    #52908c 35%,
    #1b3b38 50%
  );
} 

/*bottom right circle switch gradient*/
.switch-gradient {
  background-image: radial-gradient(
  farthest-corner at 10% 25%,
  #c9d3d2 20%,
  #828e8d 35%,
  #363b3a 50%
);
}

/* top left circle gradient */
/*more gradient*/
.radial-gradient1 {
  background-image: radial-gradient(
    farthest-corner at 85% 90%,
    #8cbab4 18%,
    #52908c 30%,
    #284543 40%,
    #102220 50%,
    #081110 60%
  );
}

/* circle bottom right */
.circle1 {
  width: calc(var(--circle-base-size) + 75px);
  height: calc(var(--circle-base-size) + 75px);
  z-index: -3;
}

/*circle bottom right (switch)*/
.circle-fill{
  width: calc(var(--circle-base-size) + 75px);
  height: calc(var(--circle-base-size) + 75px);
  z-index: -3;
}

/* circle top left */
.circle {
  width: calc(var(--circle-base-size) + 75px);
  height: calc(var(--circle-base-size) + 75px);
  z-index: -3;
}


