:root{
  /* i think u define variables */
  --circle-base-size: 850px;
}

html{
  /* outline: 1px solid red; */ /* border outline for debugging */
  overflow: hidden;  /* disables overflow scroll */
}
/*TODO: fade in and out from one gradient to another -- possible using a -1z-index div and fadeIn (pulsate version)*/
/* TODO :: make circles and lines responsive */


/*pulsate animation for during image generation*/
@keyframes pulsate {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  
}

/*fade in for regular animation*/
/*can be used for pulsate by using infinte + alternate, but keeping separate from pulsate anim just in case
function for image gen buffer with pulsate needs separate keyframes or sum*/
@keyframes fadeIn {
  from{ opacity: 0; }

  to{ opacity: 1; }
}

/* bottom right circle */
.bg-circle {
  border-radius: 50%;
  /* Position */
  position: absolute;
  top: calc(85% + 50px);
  left: 85%;
  transform: translate(-50%, -50%);
  animation: fadeIn 10s;
  /*if image is generating--implement into a function?*/
  /*animation: pulsate 10s ease-in-out infinite alternate;*/
}

/* top left circle */
.bg-circle1 {
  border-radius: 50%;
  /* Position */
  position: absolute;
  top: calc(5% + 50px);
  left: 10%;
  transform: translate(-50%, -50%);
  animation: fadeIn 10s;
  /*if image is generating--implement into a function?*/
 /* animation: pulsate 10s ease-in-out infinite alternate;*/
}

/* bottom right circle gradient */
.radial-gradient {
  background-image: radial-gradient(
    farthest-corner at 10% 25%,
    #194b44 20%,
    #1a3835 35%,
    #081211 50%
  );
  
} 

/* top left circle gradient */
.radial-gradient1 {
  background-image: radial-gradient(
    farthest-corner at 85% 90%,
    #8cbab4 20%,
    #52908c 35%,
    #1b3b38 50%
  );
}

/* circle top left */
.circle1 {
  width: calc(var(--circle-base-size) + 75px);
  height: calc(var(--circle-base-size) + 75px);
  z-index: -3;
}

/* circle bottom right */
.circle {
  width: calc(var(--circle-base-size) + 75px);
  height: calc(var(--circle-base-size) + 75px);
  z-index: -3;
}


